.body
  .fortunes__body
    .fortunes__body__main
      .fortunes__body__main__body
        .fortunes__modal__wrapper
          .fortunes__modal__wrapper--close
            = icon 'fas', 'times', class:'fortune__close__icon'
            .fortunes__modal__wrapper--close__text
              Userさんの運命
              .ul.fortunes__modal__wrapper--close__text__1{"data-show" => "1"}
                %li.limit
                  今日は
                %li.limit
                  明日は
                %li.limit
                  １年後
                %li.limit
                  来世
                %li.limit
                  100年後
                %li.limit
                  5秒後
                %li.limit
                  今月
                %li.limit
                  10年後
              .ul.fortunes__modal__wrapper--close__text__2{"data-show" => "1"}
                LucyDrink
                %li.situation
                  彼女の家で
                %li.situation
                  彼氏の家で
                %li.situation
                  宇宙で
                %li.situation
                  サバンナで
                %li.situation
                  ポケモンセンターで
                %li.situation
                  長澤まさみと
                %li.situation
                  真剣佑と
                %li.situation
                  ラブホで
                %li.situation
                  会社で
                %li.situation
                  人生に
                %li.situation
                  海外で
                %li.situation
                  マーライオンに
              .ul.fortunes__modal__wrapper--close__text__3{"data-show" => "1"}
                今日の一言
                %li.result
                  爆発します
                %li.result
                  がんばれ！
                %li.result
                  課金します
                %li.result
                  もっこり！
                %li.result
                  討死
                %li.result
                  チョメチョメ
                %li.result
                  メントスコーラ
                %li.result
                  ポケモンゲットだぜ！
                %li.result
                  卍解
                %li.result
                  ぼくドラえもん〜
                
        .ul.sign
          .li.sign__main
            = image_tag '9FxxeP1V0pnSAQs1579845243_1579845583.jpg', alt: 'logo', class: 'fortunes__logo1', height: '150', width: '150' 
            Aries
          .li.sign__main
            = image_tag '9FxxeP1V0pnSAQs1579845243_1579845442.jpg', alt: 'logo', class: 'fortunes__logo1', height: '150', width: '150' 
            Taurus
          .li.sign__main
            = image_tag '9FxxeP1V0pnSAQs1579845243_1579845617.jpg', alt: 'logo', class: 'fortunes__logo1', height: '150', width: '150'
            Gemini
          .li.sign__main
            = image_tag '9FxxeP1V0pnSAQs1579845243_1579845776-2.jpg', alt: 'logo', class: 'fortunes__logo1', height: '150', width: '150'
            Cancer
          .li.sign__main
            = image_tag '9FxxeP1V0pnSAQs1579845243_1579845705.jpg', alt: 'logo', class: 'fortunes__logo1', height: '150', width: '150'
            Leo
          .li.sign__main
            = image_tag '9FxxeP1V0pnSAQs1579845243_1579845327.jpg', alt: 'logo', class: 'fortunes__logo1', height: '150', width: '150'
            Virgo
        .ul.sign
          .li.sign__main
            = image_tag '9FxxeP1V0pnSAQs1579845243_1579845749.jpg', alt: 'logo', class: 'fortunes__logo1', height: '150', width: '150'
            Libra
          .li.sign__main
            = image_tag '9FxxeP1V0pnSAQs1579845243_1579845725.jpg', alt: 'logo', class: 'fortunes__logo1', height: '150', width: '150'
            Scorpius
          .li.sign__main
            = image_tag '9FxxeP1V0pnSAQs1579845243_1579845679.jpg', alt: 'logo', class: 'fortunes__logo1', height: '150', width: '150'
            Sagittarius
          .li.sign__main
            = image_tag '9FxxeP1V0pnSAQs1579845243_1579845647.jpg', alt: 'logo', class: 'fortunes__logo1', height: '150', width: '150'
            Capricorn
          .li.sign__main
            = image_tag '9FxxeP1V0pnSAQs1579845243_1579845478.jpg', alt: 'logo', class: 'fortunes__logo1', height: '150', width: '150'
            Aquarius
          .li.sign__main
            = image_tag '9FxxeP1V0pnSAQs1579845243_1579845549.jpg', alt: 'logo', class: 'fortunes__logo1', height: '150', width: '150'
            Pisces
      .fortunes__body__main__footer
        .fortunes__body__main__footer__text